{% extends "layouts/base.html" %}
{% load static %}
{% block navbar %}{% endblock %}
{% block title %} Formatting {% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'main.css' %}">

<h1 class="format-title">Example of Formatting tags</h1>

<p>This text has <b>subtext</b> using b tag</p>
<p>This text has <strong>subtext</strong> using strong tag</p>
<p>This text has <i>subtext</i> using i tag</p>
<p>This text has <em>subtext</em> using emphasize tag</p>
<p>This text has <small>subtext</small> using small tag</p>
<p>This text has <mark>subtext</mark> using mark tag</p>
<p>This text has <del>subtext</del> using del tag</p>
<p>This text has <ins>subtext</ins> using ins tag</p>
<p>This text has X<sub>subtext</sub> using sub tag</p>
<p>This text has X<sup>subtext</sup> using sup tag</p>

{% endblock %}