{% extends "layouts/base.html" %}
{% block content %}
    <h2>Task 1: Book Availability Percentage</h2>
    <table border="1">
        <tr>
            <th>Book Title</th>
            <th>Quantity</th>
            <th>Availability (%)</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.quantity }}</td>
            <td>{{ book.availability_pct|floatformat:2 }}%</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}