{% extends "layouts/base.html" %}
{% load static %}
{% block navbar %}{% endblock %}
{% block title %} Listing {% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'main.css' %}">

<h1 class="list-title">The Best Features of the Internet</h1>

<ul>
    <li>You can meet new people from countries around the world.</li>
    <li>You have access to new media as it becomes public:
        <ul>
            <li>New games</li>
            <li>New applications
                <ol>
                    <li>For business</li>
                    <li>For pleasure</li>
                </ol>
            </li>
            <li>Around the clock news</li>
            <li>Search engines</li>
            <li>Shopping</li>
            <li>Programming
                <ol>
                    <li>XML</li>
                    <li>Java</li>
                    <li>HTML5</li>
                    <li>JavaScript</li>
                    <li>New languages</li>
                </ol>
            </li>
        </ul>
    </li>
    <li>Links</li>
    <li>Keeping in touch with old friends</li>
    <li>It's the technology of the future!</li>
</ul>

{% endblock %}