{% extends "layouts/base.html" %}
{% load static %}

{% block navbar %}{% endblock %}

{% block title %} Tables {% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'main.css' %}">

<!-- Table 1 -->
<h3 class="center-text">Table 1: Table of Fruits and Their Prices</h3>

<table class="table1">
    <tr>
        <th>Fruit</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>Apple</td>
        <td>$0.25</td>
    </tr>
    <tr>
        <td>Orange</td>
        <td>$0.50</td>
    </tr>
    <tr>
        <td>Banana</td>
        <td>$1.00</td>
    </tr>
    <tr>
        <td>Pineapple</td>
        <td>$2.00</td>
    </tr>
    <tr>
        <th>Total</th>
        <th>$3.75</th>
    </tr>
</table>

<br>

<!-- Table 2 -->
<h3 class="center-text">Table 2: A more complex sample table</h3>

<table class="table2">

    <!-- Top Row -->
    <tr>
        <td rowspan="2">
            <img src="{% static 'lab5_t4_pic.jpg' %}" width="250">
        </td>
        <th colspan="4">
            Camelid comparison <br>
            Approximate as of 6/2011
        </th>
    </tr>

    <!-- Header Row -->
    <tr>
        <th># of humps</th>
        <th>Indigenous region</th>
        <th>Spits?</th>
        <th>Produces wool?</th>
    </tr>

    <!-- Data -->
    <tr>
        <th>Dromedary</th>
        <td>1</td>
        <td>Arabian Peninsula</td>
        <td>Yes</td>
        <td>Yes</td>
    </tr>

    <tr>
        <th>Camels (bactrian)</th>
        <td>2</td>
        <td>Africa/Asia</td>
        <td>Yes</td>
        <td>Yes</td>
    </tr>

    <tr>
        <th>Llamas</th>
        <td>1</td>
        <td>Andes Mountains</td>
        <td>Yes</td>
        <td>Yes</td>
    </tr>

</table>

{% endblock %}